// Color
$color-black:   #000000;
$color-white:   #FFFFFF;
$color-accent:  #F64747;

$color-error:   #C0392B;
$color-success: #4DB788;

$color-twitter: #55acee;

$color-lemonade: #fec52e;
$color-slice: #1dc871;
$color-lovelamie: #000000;
$color-scrivere: #25aaed;
$color-hackfarm: #2c3f4f;

// Typography
$font-sans:     "Brandon Grotesque";
$font-serif:    "phoreuscherokee";
$base-font:     14px;
$line-height:   1.6;

// Media Queries
$small:         30em;
$medium:        43em;
$large:         70em;