* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    position: relative;
    font-family: $font-sans;
    font-size: 14px;
    line-height: 1.5em;
    opacity: 0;
    transition: opacity 1s .2s;
    background: lighten($color-black, 95%);

    @include selection {
        color: white;
        background: black;
    }
}

.body--fade {
    opacity: 1;
}

input, textarea {
    outline: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    appearance: none;
}

ul {
    li {
        list-style-type: none;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}