.fancy-bar {
	position: fixed;
	top: -6px;
	left: 0;
	width: 100%;
	font-size: 0;

	&__item {
		display: inline-block;
		width: 20%;
		padding: 2px 0;
		background: red;
		
		&--lemonade {
			background: $color-lemonade;
		}

		&--slice {
			background: $color-slice;
		}

		&--lovelamie {
			background: $color-lovelamie;
		}

		&--scrivere {
			background: $color-scrivere;
		}

		&--hackfarm {
			background: $color-hackfarm;
		}
	}
}