.site-header {
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
	padding: 130px 0 160px 0;

	@include small {
		width: 80%;
		padding: 80px 0 100px 0;
	}

	@include medium {
		width: 80%;
		padding: 80px 0 100px 0;
	}

	&__title {
		font-family: $font-sans;
		font-size: 4em;
		font-weight: 100;
		margin-bottom: 25px;

		@include small {
			margin-bottom: 25px;
			font-size: 2.8em;
		}

		@include medium {
			margin-bottom: 25px;
			font-size: 2.8em;
		}
	}

	&__info {
		font-family: $font-sans;
		color: lighten($color-black, 30%);
		font-size: 1.8em;
		line-height: 1.7;
		font-weight: 100;

		@include small {
			font-size: 1.3em;
		}

		@include medium {
			font-size: 1.3em;
		}

		a {
			color: $color-black;

			&:hover {
				border-bottom: 2px dashed $color-black;
			}
		}
	}

	&__link {
		border: 2px solid $color-twitter;
		display: inline-block;
		padding: 15px 30px;
		color: $color-twitter;
		font-size: 1.2em;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 50px;
		border-radius: 100px;
		transition: all .2s linear;
		text-align: center;

		@include small {
			border-radius: 0;
			display: block;
			margin-top: 40px;
		}

		@include medium {
			margin-top: 40px;
		}

		&:hover {
			background: $color-twitter;
			color: $color-white;
		}
	}
}